@import "./styles/components";
@import "primereact/resources/themes/lara-dark-indigo/theme.css"; //theme
@import "primereact/resources/primereact.min.css"; //core css

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-color: #343a40;
    color: #e9ecef;
}
