@import "primeicons/primeicons.css";

.chat {
    padding: 4rem;
    max-width: 60rem;
    margin: auto;
    margin-top: 10rem;
    border: 1px solid gray;

    &__gate-container {
    }

    &__room-container {
        .room {
            &__header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &--actions {
                    display: flex;
                    align-items: center;
                }
            }

            &__main {
                display: flex;
                justify-content: space-around;
                margin: 2rem auto 4rem;
                height: 30rem;

                &--user-list {
                    padding: 1rem;
                    overflow: auto;
                    min-width: 12rem;
                }

                &--chat-messages {
                    flex: 1;
                    padding: 1rem;
                    border: 1px solid gray;
                    background-color: #495057;
                }
            }
        }
    }
}

.call-modal {
    padding: 0 3rem;
    &__action {
        margin-top: 2rem;
        text-align: right;
    }
}
